@model Project.Service.ViewModels.VehicleMakeViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Abrv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Abrv)
        </dd>
    </dl>
</div>

<br />

@* print out all the VehicleModels *@

@if (Model.Models != null && Model.Models.Any())
{
    <h2>Associated Vehicle Models</h2>
    <ul>
        @foreach (var vehicleModel in Model.Models)
        {
            <li>@vehicleModel.Name</li>
        }
    </ul>
}
else
{
    <p>No associated Vehicle Models found.</p>
}